POSTGRES_DB=ecran_cms
POSTGRES_USER=strapi
POSTGRES_PASSWORD=change-this-password

# For network access (LAN/WAN): Set to your machine's IP address
# Find your IP: macOS: `ipconfig getifaddr en0` | Linux: `hostname -I` | Windows: `ipconfig`
# Examples: http://192.168.1.100:1337 or http://10.0.0.5:1337
STRAPI_PUBLIC_URL=http://192.168.1.100:1337
NUXT_PUBLIC_STRAPI_URL=http://192.168.1.100:1337
